# Data Science Tools and Ecosystem

This is a notebook about data science tools and ecosystem.

The most common languages used in data science are:
1. Python
2. R/RStudio
3. SQL
4. Java
5. Scala
6. C++
7. Java Script
8. Julia

The most commonly used libraries in data science are:
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit
- Keras
- TensorFlow
- Pytorch
- Apache Spark

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Python             |

#### Arithmetic Expression Examples
Here are some examples of Arithmetic Expressions:
- 2+3

Solution: 5
- 5\*7

Solution: 7
- 7-6

Solution: 1
- 10/5

Solution: 2

In [2]:
#Multiplication of numbers
a=5*4

#Addition of numbers
b=5+4

print(a,"\n", b)

20
 9

In [16]:
d = float(input("Enter the number of minutes"))
e = d % 60 
#finds the remaining number of minutes
f = (d-e) / 60 
#finds the total number of hours
print("It is ", f, " hours and ", e, " minutes")

Enter the number of minutes 190

It is  3.0  hours and  10.0  minutes

#### Objective

In this final assignment, you will:

- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

### Author
Lakshmi Holla

Niveditha Pandith